<ul class="lista">
  @for (actividad of actividades(); track actividad.id) {
    <li>
      <app-tarjeta-actividad
        [actividad]="actividad"
        [seleccionada]="seleccionadaId() === actividad.id"
        (seleccionCambiada)="seleccionCambiada.emit($event)"
        (destacadoCambiado)="destacadoCambiado.emit($event)"
        (avanceSolicitado)="avanceSolicitado.emit($event)"
        (eliminacionSolicitada)="eliminacionSolicitada.emit($event)" />
    </li>
  } @empty {
    <li class="vacio">
      <p>{{ mensajeVacio() }}</p>
      @if (hayFiltros()) {
        <button type="button" (click)="limpiezaSolicitada.emit()">Quitar los filtros</button>
      }
    </li>
  }
</ul>